<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-button size="large" [routerLink]="['']" >
             Popular Films
        </ion-button>
      <ion-searchbar  [(ngModel)]="texto"  placeholder="Search Films" (ionChange)=" busqueda_peli()"  ></ion-searchbar>
    </ion-buttons>
   </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <div *ngFor="let peli of peliculas; let impar = odd;let par = even;" [ngClass]="{div_1:par,div_2:impar}"  
    [routerLink]="['/detalles',peli.id]" >
        <div><img src="https://image.tmdb.org/t/p/original/{{peli.poster_path}}" onerror="this.src='assets/img/imagen1.jpg'"  ></div>
        <div class="peli_titulo">{{peli.title}}</div>
    </div>
</ion-content>
